<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>

<div>
    <a href="/people">Пользователи</a> <a href="/books">Книги</a> <a href="/authors">Авторы</a> <a href="/books/search">Поиск
    книг</a>
</div>


<h1>
    Книги
</h1>

<hr th:if="${books.size() != 0}">
<br th:if="${books.size() != 0}">

<div th:each="book : ${books}">
    <a th:style="${book.getBorrowing() != null} ? 'color: red' : 'color: green' " th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() + ', ' + book.getAuthor().getFullName()}">User</a>
</div>

<br th:if="${books.size() != 0}">
<hr th:if="${books.size() != 0}">

<form th:method="GET" th:action="@{/books/new}">
    <input type="submit" value="Добавить новую книгу"/>
</form>

</body>
</html>